<%= render 'shared/stepper' %>
<div class="container">
  <div class="row">
      <%# Devis estimatif %>
       <div class="card-product card-product-offset w-100 m-3">
        <img src="<%=@booking.image_product%>"  alt="your floor" >
        <div class= "card-devis"><strong><%= number_to_euro(@booking.total)%></strong></div>
        <div class='w-100 m-3 p-3'>
          <div class="d-flex flex-grow-1 justify-content-between flex-row ">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex">
                <div class="">
                Total Devis Estimatif
                </div>   
                <div>total</div>               

              </li>
              <li class="list-group-item">Coût d'achat</li>
              <li class="list-group-item">La main d'oeuvre</li>
              <li class="list-group-item">Livraison</li>
            </ul>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item"> <strong><%= number_to_euro(@booking.total)%></strong></li>
              <li class="list-group-item"><%= number_to_euro(@booking.product.price_per_square_meter * @booking.surface_area) %></li>
              <li class="list-group-item"><%=number_to_euro(@booking.depose + @booking.labor)%></li>
              <li class="list-group-item">50€</li> 
            </ul>         
          </div>
            <div class = 'text-right w-50'>
              <%= link_to "Voir les disponibilités", intervention_schedueles_bookings_path(surface_area: params[:surface_area],product: params[:product], new_product: params[:new_product]), class: "example_f"  %>
            </div>
        </div>
      </div>

     
    </div>
  </div>
</div>
</div>
