<div class="d-flex flex-row justify-content-center fix-footer">
  <div class="d-flex flex-column">
    <div class="border-light shadow rounded bg-white text-black p-3 m-3 transi">
      <h2 class="text-justify text-center">Devis Estimatif</h2>
      <div class="d-flex flex-grow-1 flex-row m-3">
      <ul class="list-group list-group-flush">
         <li class="list-group-item">Cout d'achat:</li>
         <li class="list-group-item">Cout de la main d'oeuvre: </li>
         <li class="list-group-item">Cout de livraison:</li>
      </ul>
      <ul class="list-group list-group-flush">
      <%# 1 calcule cout achat du produit %>
         <li class="list-group-item"><%= (@booking.product.price_per_square_meter * @booking.surface_area).round(2) %>€</li>
      <%# 2 calcule cout de la main d'oeuvre %>
         <li class="list-group-item"><%=(@booking.depose + @booking.labor).round(2)%>€</li>
         <li class="list-group-item">50€</li>
      </ul>
      </div>
    </div>

    <div class=" d-flex flex-row border-light shadow justify-content-center rounded bg-white text-black p-3 m-3 transi">
        <div>
          <img src="<%=@booking.image_product%>" class="img-card rounded" alt="your floor" >
        </div>
        <div class="">
          <p class="text-justify text-center m-3">Type de produit: <%=@booking.product.product_type%></p>
          <p class="text-justify text-center m-3">Descriptif: <%=@booking.product.description%></p>
          <p class="text-justify text-center m-3">Prix du produit au mètre carré:  <%=@booking.product.price_per_square_meter%>€</p>
        </div>
    </div>
  </div>
  <div class="align-self-start text-justify text-center shadow border-light rounded bg-white text-black p-3 m-3 transi">
    <h2 class="text-justify text-center">Cout total</h2>
    <p class="text-justify text-center"><%= @booking.total.round(2)%> € </p>
     <%=link_to "Prise de rendez-vous",intervention_schedueles_bookings_path(surface_area: params[:surface_area],product: params[:product], new_product: params[:new_product]), class: "button-invers m-2 " %>
  </div>

</div>
