
<div class="background_calendar">
  <div class="d-flex align-self-start justify-content-center fix-footer ">

   <div class="form">
    <%# form-wrapper text-justify text-center rgb(120, 121, 120) bg-light rounded p-3 m-3 transi Larger shadow %>
      <h2>Selectionner vos dates</h2>

      <%= simple_form_for [@product, @booking] do |f| %>
        <%= f.input :starts_at,as: :string, required: true, input_html: { id: "range_start" } %>
        <%= f.input :ends_at, as: :string, required: true, input_html: { id: "range_end" } %>
        <%= f.input :surface_area, as: :hidden %>
        <%= f.input :product_id, as: :hidden %>
        <%= f.input :floor_type, as: :hidden %>
        <div class="d-flex justify-content-center">
          <%= f.submit 'Valider', class: "button-1 justify-content"%>
        </div>
      <% end %>
    </div>

  </div>
</div>
