<<<<<<< HEAD
<div class="container-products mt-4 fix-footer">
  <% if @step1 %>
    <%= render 'shared/booking-step1' %>
  <% end %>
  <% if @step2 %>
    <%= render 'shared/booking-step1' %>
    <%= render 'shared/booking-step2' %>
  <% end %>
  <% if @step3 %>
    <%= render 'shared/booking-step1' %>
    <%= render 'shared/booking-step2' %>
    <%= render 'shared/booking-step3' %>
    </div>
  <% end %>
</div>
