<div class="container mt-4">
  <% if params.dig(:surface_area).blank? %>
    <h1>Quelle est la surface à renover?</h1>
    <%= simple_form_for :bookings, url:     new_booking_path,
                                   method: :get do |f| %>
      <%= f.input :surface_area, label: false,
                                 input_html: { name: 'surface_area'} %>
      <%= f.submit "Valider", class: 'btn btn-primary' %>
    <% end %>
  <% elsif !params.dig(:product).blank? %>
    <div>
      <%= render 'shared/booking-step3' %>
    </div>
  <% else %>
    <%= render 'shared/booking-step2' %>
  <% end %>
</div>
