<<<<<<< HEAD
<div class="container-products mt-4 fix-footer">
  <% if @step1 %>
    <%= render 'shared/booking-step1' %>
  <% end %>
  <% if @step2 %>
    <%= render 'shared/booking-step1' %>
    <%= render 'shared/booking-step2' %>
  <% end %>
  <% if @step3 %>
=======
<div class="container mt-4 fix-footer">
  <% if params.dig(:surface_area).blank? %>
    <h1>Quelle est la surface à renover?</h1>
    <%= simple_form_for :bookings, url:     new_booking_path,
                                   method: :get do |f| %>
      <%= f.input :surface_area, label: false,
                                 input_html: { name: 'surface_area'} %>
      <%= f.submit "Valider", class: 'button-invers' %>
    <% end %>
  <% elsif !params.dig(:product).blank? %>
>>>>>>> a2d249aedbf8227d48a81c47109bf0df6d918276
    <div>
      <%= render 'shared/booking-step1' %>
      <%= render 'shared/booking-step2' %>
      <%= render 'shared/booking-step3' %>
    </div>
  <% end %>
</div>
