<div class=" m-3 fix-footer justify-content-center">
<%# <div class="  m-auto shadow card   transi " style="max-width: 80%";>
  <div class="text-center row no-gutters">
    <div class="col-4  mt-3 ">
      <img src="https://images.pexels.com/photos/919436/pexels-photo-919436.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-card img-fluid rounded " alt="pay" >
    </div>
    <div class=" text-justify text-center col-7 m-3 ">
      <div class="card-body">
        <h1 class="card-title">Votre recapitulatif</h1>
        <p class="text-justify text-center"></p>
        <%# <h2 class="text-justify text-center">Cout total</h2>
        <p class="text-justify text-center"><%= @booking.total.round(2)%>
        <%# <%=link_to "Payer",intervention_schedueles_bookings_path, class: "button-invers m-2 " %>
      <%# </div>
    </div>
  </div>
</div> %>

<div class="card-product">
   <img src="<%=@booking.image_product%>" alt="your floor" >
  <div class="card-product-infos m-3">
    <h1>Votre recapitulatif</h1>
    <p>En esperant que notre service vous convient <strong><%= @booking.user.name%> </strong>.</p>
    <p>Notre professionnel posera du <strong><%=@booking.product.product_type%></strong></p>

      <p>Votre rendez-vous est du: </p> 
    <p>
      <strong><%=@booking.starts_at.strftime("%d/%m/%Y %H:%M")%></strong> au <strong><%=@booking.ends_at.strftime("%d/%m/%Y %H:%M")%></strong>
    </p>

    <div class="total_pay mt-3">
      <h2>Cout total</h2>
      <%# <p ><strong><%= @booking.total.round(2)%>
      <%# <div class="d-flex justify-content-center mt-3"> %>
          
    
    
     <p ><strong><%= humanized_money_with_symbol(@booking.price)%></strong></p>
      <% if @booking.state == 'pending' %>
        <div class="d-flex justify-content-center mt-3">
          <button class="button-1 w-50" id="pay">Payer</button>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @booking.checkout_session_id %>'
            });
          });
        </script>
      <% else %>
        <h2>Merci d'avoir payé !</h2>
      <% end %>
    </div>
  </div>
</div>