<div class="d-flex flex-row justify-content-center fix-footer">
  <div class="d-flex flex-column">
    <div class="border-light shadow rounded bg-white text-black p-3 m-3 transi">
      <h2 class="text-justify text-center">Devis Estimatif</h2>
      <div class="d-flex flex-grow-1 flex-row m-3">
      <ul class="list-group list-group-flush">
         <li class="list-group-item">Cout d'achat:</li>
         <li class="list-group-item">Cout de la main d'oeuvre: </li>
         <li class="list-group-item">Cout de livraison:</li>
      </ul>
      <ul class="list-group list-group-flush">
      <%# 1 calcule cout achat du produit %>
         <li class="list-group-item"><%= (@booking.product.price_per_square_meter * @booking.surface_area).round(2) %>€</li>
      <%# 2 calcule cout de la main d'oeuvre %>
         <li class="list-group-item"><%=(@booking.depose + @booking.labor).round(2)%>€</li>
         <li class="list-group-item">50€</li>
      </ul>
      </div>
    </div>
    <div class=" border-light shadow rounded bg-white text-black p-3 m-3 transi">
        <p class="">Type de produit: <%=@booking.product.product_type%></p>
        <p class="">Descriptif: <%=@booking.product.description%></p>
        <p class="">Prix du produit au mètre carré:  <%=@booking.product.price_per_square_meter%>€</p>
      </ul>
    </div>
  </div>
  <div class="align-self-start text-justify text-center shadow border-light rounded bg-white text-black p-3 m-3 transi">
    <h2 class="text-justify text-center">Cout total</h2>
    <p class="text-justify text-center"><%= @booking.total.round(2)%> €  </p>
    <%=link_to "Prise de rendez-vous",edit_booking_path(@booking), class: "button-invers m-2 " %>
  </div>

</div>
