<h1>Etape 2</h1>
  <div class="card-deck d-flex justify-content-between">
    <div class="card card-floor">
      <%= link_to new_booking_path(surface_area: params[:surface_area], product: 'Carrelage') do %>
        <%= image_tag "https://i.pinimg.com/originals/88/ff/6e/88ff6e93b081465f9ec21d6bd3f11305.jpg", alt: "Le Wagon", width: 200 %>
        Carrelage
      <% end %>
    </div>
    <div class="card card-floor">
      <%= link_to new_booking_path(surface_area: params[:surface_area], product: 'planché massif') do  %>
        <%= image_tag "https://www.parqueteriefrancaise.fr/modules/ph_simpleblog/featured/36-featured.jpg", alt: "Le Wagon", width: 200 %>
        planché massif
      <% end %>
    </div>
    <div class="card card-floor">
      <%= link_to new_booking_path(surface_area: params[:surface_area], product: 'parquet stratifé') do  %>
        <%= image_tag "https://static.comment-economiser.fr/documents/images/2018/02/gondolement-lames-guide-comment-nettoyer-sol-stratifie.jpg", alt: "Le Wagon", width: 200 %>
        parquet stratifé
      <% end %>
    </div>
    <div class="card card-floor">
      <%= link_to new_booking_path(surface_area: params[:surface_area], product: 'brut') do  %>
        <%= image_tag "https://media1.forumconstruire.com/photo/large/140179.jpg", alt: "Le Wagon", width: 200 %>
        brut
      <% end %>
    </div>
  </div>
