<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step">
        <div class="mdl-stepper-circle"><span>1</span></div>
        <div class="mdl-stepper-title">Surface <%= params[:surface_area] %>m²</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right-done"></div>
      </div>
      <div class="mdl-stepper-step <%= @step2 || @step3 || @step4 || @step5 || @step6 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>2</span></div>
        <div class="mdl-stepper-title"><p font-size: 16px>le support: <%= params[:product] %></p></div>
        <div class="mdl-stepper-bar-left <%= @step2 || @step3 || @step4 || @step5 || @step6 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step2 || @step3 || @step4 || @step5 || @step6 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step3 || @step4 || @step5 || @step6 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>3</span></div>
        <div class="mdl-stepper-title">materiaux choisit: <%= params[:new_product] %></div>
        <div class="mdl-stepper-bar-left <%= @step3 || @step4 || @step5 || @step6 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step3 || @step4 || @step5 || @step6 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step4 || @step5 || @step6 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>4</span></div>
        <div class="mdl-stepper-title">Devis</div>
        <div class="mdl-stepper-bar-left <%= @step4 || @step5 || @step6 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step4 || @step5 || @step6 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step5 || @step6 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>5</span></div>
        <div class="mdl-stepper-title">RDV</div>
        <div class="mdl-stepper-bar-left <%= @step5 || @step6 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step5 || @step6 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step6 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>6</span></div>
        <div class="mdl-stepper-title">Paiement</div>
        <div class="mdl-stepper-bar-left <%= @step6 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step6 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right' %>"></div>
      </div>
    </div>
  </div>
</div>
