<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step">
        <div class="mdl-stepper-circle"><span>1</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Surface</b></div>
        <div class="mdl-stepper-title">
          <%= @step6 || @step7 ? @booking.surface_area.round(0) : params[:surface_area] %>
          <%= "m²" unless @step1 %>
        </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right-done"></div>
      </div>
      <div class="mdl-stepper-step <%= @step2 || @step3 || @step4 || @step5 || @step6 || @step7 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>2</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Support</b></div>
        <div class="mdl-stepper-title"><%= @step6 || @step7 ? @booking.floor_type : params[:product] %></div>
        <div class="mdl-stepper-bar-left <%= @step2 || @step3 || @step4 || @step5 || @step6 || @step7 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left-grey' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step2 || @step3 || @step4 || @step5 || @step6 || @step7 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right-grey' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step3 || @step4 || @step5 || @step6 || @step7 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>3</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Matériaux</b></div>
        <div class="mdl-stepper-title"><%= @step6 || @step7 ? @booking.product.product_type : params[:new_product] %></div>
        <div class="mdl-stepper-bar-left <%= @step3 || @step4 || @step5 || @step6 || @step7 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left-grey' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step3 || @step4 || @step5 || @step6 || @step7 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right-grey' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step4 || @step5 || @step6 || @step7 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>4</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Devis</b></div>
        <div class="mdl-stepper-title"><%= number_to_euro(@booking.total) if (@step5 || @step6 || @step7) %></div>
        <div class="mdl-stepper-bar-left <%= @step4 || @step5 || @step6 || @step7 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left-grey' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step4 || @step5 || @step6 || @step7 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right-grey' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step5 || @step6 || @step7 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>5</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Disponibilités</b></div>
        <div class="mdl-stepper-title">
          <% if @step6 || @step7 %>
            Du <%= @booking.starts_at.strftime("%d/%m/%Y") %> <br>
            Au <%= @booking.ends_at.strftime("%d/%m/%Y") %>
          <% end %>
        </div>
        <div class="mdl-stepper-title"></div>
        <div class="mdl-stepper-bar-left <%= @step5 || @step6 || @step7? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left-grey' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step5 || @step6 || @step7 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right-grey' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step6 || @step7 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>6</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Paiement</b></div>
        <div class="mdl-stepper-title">
          <% if @step7 %>
            Confirmé
          <% end %>
        </div>
        <div class="mdl-stepper-bar-left <%= @step6 || @step7 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left-grey' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step6 || @step7 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right-grey' %>"></div>
      </div>
      <div class="mdl-stepper-step <%= @step7 ? 'active-step' : 'step-done' %>">
        <div class="mdl-stepper-circle"><span>7</span></div>
        <div class="mdl-stepper-title font-size-20px"><b>Récapitulatif</b></div>
        <div class="mdl-stepper-bar-left <%= @step7 ? 'mdl-stepper-bar-left-done' : 'mdl-stepper-bar-left-grey' %>"></div>
        <div class="mdl-stepper-bar-right <%= @step7 ? 'mdl-stepper-bar-right-done' : 'mdl-stepper-bar-right-grey' %>"></div>
      </div>

    </div>
  </div>
</div>
